*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.navbar{
	padding: 10px 0px; 
}
.profiles{
background-color: #017bf5;
color: white !important;
padding: 10px;
border-radius:50%;
text-decoration: none !important;
}

















